{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}
{% load humanize %}
{% load page %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="{% url 'product:list.product' %}" method="get" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="variant" class="form-control">
                        <option selected disabled>--Select A Variant--</option>
                    {% for varient in varients %}
                        <option disabled >{{ varient.title }}</option>
                        {% for pv in varient.productvariant_set.all %}
                            <option value="{{ pv.variant_title }}">{{ pv.variant_title }}</option>
                        {% endfor %}
                    {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price_from" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in page_obj %}

                    <tr>
                        <td>{{ product.pk }}</td>
                        <td>{{ product.title }} <br> Created at : {{ product.created_at | naturaltime }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                {% for pvp in product.ProductVariantPrice.all %}
                                    <dt class="col-sm-3 pb-0">
                                        {{ pvp.product_variant_one }}/ {{ pvp.product_variant_two }}/ {{ pvp.product.product_variant_three }}
                                    </dt>
                                    <dd class="col-sm-9">
                                        <dl class="row mb-0">
                                            <dd class="col-sm-4 pb-0">Price : {{ pvp.price }}</dd>
                                            <dd class="col-sm-8 pb-0">InStock : {{ pvp.stock }}.</dd>
                                        </dl>
                                    </dd>
                                {% endfor %}
                            </dl>
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>
        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{ page_obj.number|start:page_obj.paginator.per_page }} to {{ page_obj.number|end:page_obj.paginator.per_page }} out of {{ page_obj.paginator.count }}</p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            {{ data }}
        </div>
        <div class="card-footer">
            <span class="row justify-content-between">
                <div class="col-md-6">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
            </span>
        </div>
        <div class="card-footer">
            <span class="row justify-content-between">
                <div class="col-md-6">
                    {% for page_number in page_obj.paginator.get_elided_page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{ page_number }}
                    {% else %}
                    <a href="?page={{ page_number }}"
                        class="{% if page_number == page_obj.number %}current{% endif %}">
                    {{page_number}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </span>
        </div>
    </div>
{% endblock %}